<html ng-app="testprep">
<head>
    <script src="angular.js"></script>
    <script src="angular-sanitize.js"></script>
    <script src="app.js"></script>
    <link href="testprep.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="testprepController">
<div id="content">
    <div class="question-list">
        <li ng-repeat="q in qidList" ng-bind="q"></li>
    </div>
    <div class="navbar">
    </div>
    <div class="question-content">
        <div class="question-text" ng-bind-html="qstem"></div>
        <div class="question-option" ng-repeat="answer in answerList.answer">
            <br />
            <input type="radio"><!--needs callback to mark problem as answered when clicked -->
            <span ng-bind-html="answer"><!--needs strikeout when clicked, maybe change to an anchor or button? --></span>
        </div>
        <br />
        <!-- doesnt work yet. separate controller, maybe not necessary.
        <div class="peek-button" ng-controller="peekController">
            <a href ng-click="peek.showIt()">show answer</a>
            <br />
            <span ng-show="peek.showing" ng-bind-html="explanation">explanation goes here</span>
        </div>
-->
    </div>
</div>
</body>
</html>
