<html ng-app="testprep">
<head>
    <script src="angular.js"></script>
    <script src="angular-sanitize.js"></script>
    <script src="app.js"></script>
    <link href="testprep.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="testprepController">
<div id="content">
    <div class="question-list">
        <li ng-repeat="q in qidList" ng-bind="q"></li>
    </div>
    <div class="navbar">
    </div>
    <div class="question-content">
        <div class="question-text" ng-bind-html="qstem">
        </div>
        <div class="question-option" ng-repeat="answer in answerList.answer">
            <br />
            <input type="radio"><span ng-bind-html="answer"></span>
        </div>
    </div>
</div>
</body>
</html>
