    <div class="question-list">
        <li ng-repeat="q in qbank">
            <a href ng-click="setPointer(q)" ng-bind="q.id"></a>
        </li>
    </div>
    <div class="navbar">
    </div>
    <div class="question-content">
        <!-- for testing
        <div class="question-subject">
            <span style="font-weight: bold;" ng-bind="selectedQuestion.subject.$t"></span> :
            <span style="font-weight: bold;" ng-bind="selectedQuestion.title.$t"></span>
        </div>
        -->
        <div class="question-text" ng-bind-html="selectedQuestion.prompt.$t"></div>
        <div class="question-option" ng-repeat="answer in selectedQuestion.answerList.answer">
            <br />
            <input type="radio" name="{{selectedQuestion.id}}" id="{{answer.id}}"><!--needs callback to mark problem as answered when clicked -->
            <button 
                ng-class="{'answer-choice': !isStruck, 'answer-choice struck': isStruck}"
                ng-init="isStruck = false"
                ng-click="isStruck = !isStruck"
                ng-bind-html="answer.$t"><!--needs strikeout when clicked, maybe change to an anchor or button? -->
            </button>
        </div>
        <br />
        <div class="show-answer-box">
            <label>show answer :<input type="checkbox" ng-model="mustShow" /></label>
        </div>
        <br />
        <div class="explanation" ng-show="mustShow">
            <span ng-bind-html="selectedQuestion.explanation.$t"></span>
        </div>
    </div>
