<div class="question-list">
      <li ng-repeat="q in questions">
      <a href ng-click="setQuestion(q)" ng-bind="q.id"></a>
      <!--<a href ng-click="setPointer(q)" ng-bind="q.id" ng-class="{'viewed' : viewedQ==true }" ng-click="viewedQ = true"></a> <!- no idea why this isnt working to change css class to mark viewed items-->
      <span ng-show="checkTag(q,'answered')">&#10003</span>
      <!--TODO: make model so that when a radio button is clicked, a checkmark appears-->
      </li>
  </div>
  <div class="navbar">
      Current Question : 
      <span ng-bind="selectedQuestion.id"></span>
      <br />
      <button ng-click="setQuestion(previousQuestion())">prev</button>
      <button ng-click="setQuestion(nextQuestion())">next</button>
      <!--TODO: mark-question button w/ model that shows in TOC -->
      <!--TODO: popup list of normal lab values-->
  </div>
  <div class="question-content">
      <!-- for testing
      <div class="question-subject">
          <span style="font-weight: bold;" ng-bind="selectedQuestion.subject.$t"></span> :
          <span style="font-weight: bold;" ng-bind="selectedQuestion.title.$t"></span>
      </div>
      -->
      <div class="question-text" ng-bind-html="selectedQuestion.prompt"></div>
      <div class="question-option" ng-repeat="answer in selectedQuestion.answers">
          <br />
          <input type="radio" name="{{selectedQuestion.id}}" id="{{answer.id}}" ng-click="setTag(selectedQuestion,'answered')">
          <!--<input type="radio" name="{{selectedQuestion.id}}" id="{{answer.id}}" ng-model="model.answered[selectedQuestion.id]"><!- this doesnt work, auto-selects the last choice -->
          <button 
              ng-class="{'answer-choice': !isStruck, 'answer-choice struck': isStruck}"
              
              ng-click="isStruck = !isStruck"
              ng-bind-html="answer.value">
          </button>
      </div>
      <br />
      <div class="show-answer-box">
          <label>show answer :<input type="checkbox" ng-model="model.mustShow" /></label>
      </div>
      <br />
      <div class="explanation" ng-show="model.mustShow">
          <span ng-bind-html="selectedQuestion.explanation"></span>
      </div>
  </div>
