  <div class="navbar-fixed-top">
      Current Question :
      <span ng-bind="selectedQuestion.id"></span>
      <br />
      <button ng-click="setQuestion(previousQuestion())">prev</button>
      <button ng-click="setQuestion(nextQuestion())">next</button>
      <button ng-click="setTag(selectedQuestion, 'marked')">mark</button>
      <!--
      <select name="answeredWrong">
         TODO: list of options for how answered wrong, bound to some model 
      </select>
      --> 
      <!--
      <button ng-click="saveSession()">save</button>
      TODO: popup list of normal lab values
      -->
      <button data-toggle="modal" data-target="#noteModal" >note</button>
  </div>
  <div class="row">
  <div class="question-list sidebar nav-sidebar">
      <li ng-repeat="q in questions">
      <a href ng-click="setQuestion(q)" ng-bind="q.id"></a>
      <span ng-show="checkTag(q,'answered')">&#10003</span>
      <span ng-show="checkTag(q,'marked')">!</span>
      </li>
  </div>

  <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="noteModalLabel">Notes...</h4>
        </div>
        <div class="modal-body">
          <textarea name="myNote" rows=5 cols=20></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="question-content main" 
      ng-swipe-left="setQuestion(nextQuestion())"
      ng-swipe-right="setQuestion(previousQuestion())">
      <!-- for testing
      <div class="question-subject">
          <span style="font-weight: bold;" ng-bind="selectedQuestion.subject.$t"></span> :
          <span style="font-weight: bold;" ng-bind="selectedQuestion.title.$t"></span>
      </div>
      -->
      <div class="question-text" ng-bind-html="selectedQuestion.prompt"></div>
      <div class="question-option" ng-repeat="answer in selectedQuestion.answers">
          <br />
          <input type="radio" name="{{selectedQuestion.id}}" id="{{answer.id}}" ng-click="setTag(selectedQuestion,'answered')">
          <button
              ng-class="{'answer-choice': !isStruck, 'answer-choice struck': isStruck}"

              ng-click="isStruck = !isStruck"
              ng-bind-html="answer.value">
          </button>
      </div>
      <br />
      <div class="show-answer-box">
          <label>show answer :<input type="checkbox" ng-model="model.mustShow" /></label>
      </div>
      <br />
      <div class="explanation" ng-show="model.mustShow">
          <span ng-bind-html="selectedQuestion.explanation"></span>
      </div>
 </div>
 </div>

